/* Figma Styles of your File */
:root {
  /* Colors */
  --alto: #d8d8d8;
  --aqua-haze: #eef2f5;
  --armadillo: #3d3a31;
  --azure-radiance: #0076e5;
  --black-8: rgba(0, 0, 0, 0.08);
  --blue: #0000ff;
  --blue-zodiac: #0e214b;
  --buttercup: #f5ba11;
  --cerulean: #00aecd;
  --chambray: #3b5998;
  --de-york: #8ec089;
  --deep-cerulean: #0077b5;
  --dodger-blue: #1da1f2;
  --dove-gray: #626262;
  --flamingo: #e85f24;
  --gallery: #efefef;
  --gallery: #eeeeee;
  --geyser: #dfe3e6;
  --malibu: #76c5f7;
  --mariner: #2474de;
  --mine-shaft: #262626;
  --mine-shaft: #333333;
  --mirage: #161922;
  --monza: #bd081c;
  --mountain-meadow: #25d366;
  --picton-blue: #318eee;
  --san-marino: #3e6eb0;
  --san-marino: #3e6eb0;
  --science-blue: #006edf;
  --silver-chalice: #a8a8a8;
  --thunderbird: #cd201f;
  --turquoise: #3dd6c4;
  --whisper: #f7f5f9;
  --wwwp4panoramacom-alto: #dddddd;
  --wwwp4panoramacom-black: #000000;
  --wwwp4panoramacom-cornflower-blue: #4285f4;
  --wwwp4panoramacom-ecstasy: #f58518;
  --wwwp4panoramacom-emperor: #555555;
  --wwwp4panoramacom-mercury: #e8e8e8;
  --wwwp4panoramacom-royal-blue: #3488ea;
  --wwwp4panoramacom-silver: #cccccc;
  --wwwp4panoramacom-white: #ffffff;
  --wwwp4panoramacom-white-02: rgba(255, 255, 255, 0);
  --wwwp4panoramacom-white-20: rgba(255, 255, 255, 0.2);
  --wwwp4panoramacom-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);
  --fotonvrcom-athens-gray: #e7e8ec;
  --fotonvrcom-athens-gray: #e5e7eb;
  --fotonvrcom-athens-gray: #ecedf0;
  --fotonvrcom-athens-gray: #f3f4f6;
  --fotonvrcom-athens-gray-97: rgba(231, 232, 236, 0.97);
  --fotonvrcom-atlantis: #70cc40;
  --fotonvrcom-black: #000000;
  --fotonvrcom-black-50: rgba(0, 0, 0, 0.5);
  --fotonvrcom-blaze-orange: #ff6a00;
  --fotonvrcom-bridal-heath: #fffbf7;
  --fotonvrcom-bunting: #131740;
  --fotonvrcom-cardinal: #c62631;
  --fotonvrcom-catskill-white: #dfeaef;
  --fotonvrcom-catskill-white: #f5f8fa;
  --fotonvrcom-coral: #ff8a4c;
  --fotonvrcom-cornflower-blue-75: rgba(88, 99, 248, 0.08);
  --fotonvrcom-cornflower-blue-94: rgba(88, 99, 248, 0.09);
  --fotonvrcom-cosmos: #e5e7eb;
  --fotonvrcom-deep-sapphire: #093f68;
  --fotonvrcom-dodger-blue: #428af8;
  --fotonvrcom-east-bay: #3c3b6e;
  --fotonvrcom-ebony-clay: #25233a;
  --fotonvrcom-ecstasy: #f97316;
  --fotonvrcom-flamingo: #f56132;
  --fotonvrcom-flamingo: #ef4444;
  --fotonvrcom-flush-orange: #ff8000;
  --fotonvrcom-flush-orange: #fd7f00;
  --fotonvrcom-flush-orange-97: rgba(255, 128, 0, 0.97);
  --fotonvrcom-fun-green: #00732f;
  --fotonvrcom-fun-green: #006c35;
  --fotonvrcom-gossamer: #0e9f6e;
  --fotonvrcom-gun-powder: #3f3d56;
  --fotonvrcom-haiti-60: rgba(13, 16, 45, 0.6);
  --fotonvrcom-hawkes-blue: #cddffb;
  --fotonvrcom-heliotrope: #8358ff;
  --fotonvrcom-indochine: #c06500;
  --fotonvrcom-international-klein-blue: #0039a6;
  --fotonvrcom-kournikova: #ffe17b;
  --fotonvrcom-malibu: #68e1fd;
  --fotonvrcom-mexican-red: #b22234;
  --fotonvrcom-mint-tulip: #c4f2e3;
  --fotonvrcom-mischka: #d1d5db;
  --fotonvrcom-mountain-meadow: #10b981;
  --fotonvrcom-my-sin: #ffb612;
  --fotonvrcom-navy-blue: #00008b;
  --fotonvrcom-perfume: #beaaf7;
  --fotonvrcom-pickled-bluewood: #363a5d;
  --fotonvrcom-port-gore: #1b1f46;
  --fotonvrcom-punch: #de3831;
  --fotonvrcom-red: #ff0000;
  --fotonvrcom-resolution-blue: #002395;
  --fotonvrcom-rhino: #303c70;
  --fotonvrcom-river-bed: #4b5563;
  --fotonvrcom-romantic: #ffc9b0;
  --fotonvrcom-russett: #725858;
  --fotonvrcom-santas-gray: #a1a2b3;
  --fotonvrcom-selective-yellow: #ffbc0e;
  --fotonvrcom-silver: #cccccc;
  --fotonvrcom-tahiti-gold: #d97706;
  --fotonvrcom-thunderbird: #d52b1e;
  --fotonvrcom-tropical-rain-forest: #007a4d;
  --fotonvrcom-tuatara: #252422;
  --fotonvrcom-waterloo: #7d7f96;
  --fotonvrcom-white: #ffffff;
  --fotonvrcom-white: #fefefe;
  --fotonvrcom-white: transparent;
  --fotonvrcom-white-02: rgba(255, 255, 255, 0);
  --fotonvrcom-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --semantic-button-font-family: Poppins-Light, sans-serif;
  --semantic-button-font-size: 16px;
  --semantic-button-line-height: 19.2px;
  --semantic-button-font-weight: 300;
  --semantic-button-font-style: normal;
  --semantic-heading-1-font-family: TimesNewRoman-Bold, sans-serif;
  --semantic-heading-1-font-size: 32px;
  --semantic-heading-1-line-height: normal;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-3-font-family: Poppins-Regular, sans-serif;
  --semantic-heading-3-font-size: 18px;
  --semantic-heading-3-line-height: 22px;
  --semantic-heading-3-font-weight: 400;
  --semantic-heading-3-font-style: normal;
  --semantic-heading-4-font-family: Poppins-Regular, sans-serif;
  --semantic-heading-4-font-size: 22px;
  --semantic-heading-4-line-height: 30px;
  --semantic-heading-4-font-weight: 400;
  --semantic-heading-4-font-style: normal;
  --semantic-heading-5-font-family: Arial-Narrow, sans-serif;
  --semantic-heading-5-font-size: 18px;
  --semantic-heading-5-line-height: 18px;
  --semantic-heading-5-font-weight: 400;
  --semantic-heading-5-font-style: normal;
  --semantic-heading-5-title-font-family: Arial-Bold, sans-serif;
  --semantic-heading-5-title-font-size: 17px;
  --semantic-heading-5-title-line-height: 17px;
  --semantic-heading-5-title-font-weight: 700;
  --semantic-heading-5-title-font-style: normal;
  --semantic-heading-6-font-family: Arial-Bold, sans-serif;
  --semantic-heading-6-font-size: 17px;
  --semantic-heading-6-line-height: 17px;
  --semantic-heading-6-font-weight: 700;
  --semantic-heading-6-font-style: normal;
  --semantic-heading-6-font-family: Poppins-Medium, sans-serif;
  --semantic-heading-6-font-size: 16px;
  --semantic-heading-6-line-height: 26px;
  --semantic-heading-6-font-weight: 500;
  --semantic-heading-6-font-style: normal;
  --semantic-input-font-family: Arial-Narrow, sans-serif;
  --semantic-input-font-size: 14px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-item-font-family: Arial-Narrow, sans-serif;
  --semantic-item-font-size: 14px;
  --semantic-item-line-height: 30px;
  --semantic-item-font-weight: 400;
  --semantic-item-font-style: normal;
  --semantic-link-font-family: Arial-Narrow, sans-serif;
  --semantic-link-font-size: 13px;
  --semantic-link-line-height: 20px;
  --semantic-link-font-weight: 400;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Arial-Narrow, sans-serif;
  --semantic-link-font-size: 15px;
  --semantic-link-line-height: 15px;
  --semantic-link-font-weight: 400;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Arial-Narrow, sans-serif;
  --semantic-link-font-size: 16px;
  --semantic-link-line-height: 30px;
  --semantic-link-font-weight: 400;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Arial-Bold, sans-serif;
  --semantic-link-font-size: 18px;
  --semantic-link-line-height: 30px;
  --semantic-link-font-weight: 700;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Medium, sans-serif;
  --semantic-link-font-size: 14px;
  --semantic-link-line-height: 30px;
  --semantic-link-font-weight: 500;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Regular, sans-serif;
  --semantic-link-font-size: 16px;
  --semantic-link-line-height: 60px;
  --semantic-link-font-weight: 400;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Medium, sans-serif;
  --semantic-link-font-size: 16px;
  --semantic-link-line-height: 30px;
  --semantic-link-font-weight: 500;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Light, sans-serif;
  --semantic-link-font-size: 18px;
  --semantic-link-line-height: 32px;
  --semantic-link-font-weight: 300;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Light, sans-serif;
  --semantic-link-font-size: 20px;
  --semantic-link-line-height: 20px;
  --semantic-link-font-weight: 300;
  --semantic-link-font-style: normal;
  --semantic-link-font-family: Poppins-Regular, sans-serif;
  --semantic-link-font-size: 37px;
  --semantic-link-line-height: 37px;
  --semantic-link-font-weight: 400;
  --semantic-link-font-style: normal;
  --semantic-options-font-family: Poppins-Regular, sans-serif;
  --semantic-options-font-size: 15px;
  --semantic-options-line-height: 21px;
  --semantic-options-font-weight: 400;
  --semantic-options-font-style: normal;
  --semantic-strong-font-family: Poppins-Bold, sans-serif;
  --semantic-strong-font-size: 16px;
  --semantic-strong-line-height: 30px;
  --semantic-strong-font-weight: 700;
  --semantic-strong-font-style: normal;
  --arial-narrow-font-family: Arial-Narrow, sans-serif;
  --arial-narrow-font-size: 13px;
  --arial-narrow-line-height: 14px;
  --arial-narrow-font-weight: 400;
  --arial-narrow-font-style: normal;
  --font-awesome-5-free-solid-font-family: FontAwesome5Free-Solid, sans-serif;
  --font-awesome-5-free-solid-font-size: 16px;
  --font-awesome-5-free-solid-line-height: 16px;
  --font-awesome-5-free-solid-font-weight: 400;
  --font-awesome-5-free-solid-font-style: normal;
  --inter-regular-font-family: Inter-Regular, sans-serif;
  --inter-regular-font-size: 25px;
  --inter-regular-line-height: 27px;
  --inter-regular-font-weight: 400;
  --inter-regular-font-style: normal;
  --poppins-light-font-family: Poppins-Light, sans-serif;
  --poppins-light-font-size: 16px;
  --poppins-light-line-height: 30px;
  --poppins-light-font-weight: 300;
  --poppins-light-font-style: normal;
  --sora-regular-font-family: Sora-Regular, sans-serif;
  --sora-regular-font-size: 22px;
  --sora-regular-line-height: normal;
  --sora-regular-font-weight: 400;
  --sora-regular-font-style: normal;
  --sora-regular-font-family: Sora-Regular, sans-serif;
  --sora-regular-font-size: 35px;
  --sora-regular-line-height: normal;
  --sora-regular-font-weight: 400;
  --sora-regular-font-style: normal;
  --fotonvrcom-semantic-heading-1-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-1-font-size: 32.765625px;
  --fotonvrcom-semantic-heading-1-line-height: normal;
  --fotonvrcom-semantic-heading-1-font-weight: 500;
  --fotonvrcom-semantic-heading-1-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 21.5625px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 21.75px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 21.9375px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 22.125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 22.3125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 22.5px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 25.703125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 29.375px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 31.921875px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 15.625px;
  --fotonvrcom-semantic-heading-2-line-height: 24px;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 15.75px;
  --fotonvrcom-semantic-heading-2-line-height: 24px;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 15.875px;
  --fotonvrcom-semantic-heading-2-line-height: 24px;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 16px;
  --fotonvrcom-semantic-heading-2-line-height: 24px;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 17.8125px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 17.96875px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 18.75px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-link-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-link-font-size: 16px;
  --fotonvrcom-semantic-link-line-height: 24px;
  --fotonvrcom-semantic-link-font-weight: 400;
  --fotonvrcom-semantic-link-font-style: normal;
  --fotonvrcom-semantic-link-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-link-font-size: 16px;
  --fotonvrcom-semantic-link-line-height: 24px;
  --fotonvrcom-semantic-link-font-weight: 400;
  --fotonvrcom-semantic-link-font-style: normal;
  --fotonvrcom-semantic-heading-1-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-1-font-size: 51.84375px;
  --fotonvrcom-semantic-heading-1-line-height: normal;
  --fotonvrcom-semantic-heading-1-font-weight: 400;
  --fotonvrcom-semantic-heading-1-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 25.8125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 25.921875px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 26.03125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 35.3125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 35.46875px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 35.78125px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 36.09375px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 36.25px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 36.5625px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 36.5625px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 500;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 37.34375px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-1-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-1-font-size: 52.609375px;
  --fotonvrcom-semantic-heading-1-line-height: normal;
  --fotonvrcom-semantic-heading-1-font-weight: 400;
  --fotonvrcom-semantic-heading-1-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 37.65625px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 37.5px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 12.03125px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 12.796875px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 13.234375px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-heading-3-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-heading-3-font-size: 13.5625px;
  --fotonvrcom-semantic-heading-3-line-height: normal;
  --fotonvrcom-semantic-heading-3-font-weight: 400;
  --fotonvrcom-semantic-heading-3-font-style: normal;
  --fotonvrcom-semantic-label-font-family: Inter-SemiBold, sans-serif;
  --fotonvrcom-semantic-label-font-size: 15.890625px;
  --fotonvrcom-semantic-label-line-height: normal;
  --fotonvrcom-semantic-label-font-weight: 600;
  --fotonvrcom-semantic-label-font-style: normal;
  --fotonvrcom-semantic-label-font-family: Inter-SemiBold, sans-serif;
  --fotonvrcom-semantic-label-font-size: 16.03125px;
  --fotonvrcom-semantic-label-line-height: normal;
  --fotonvrcom-semantic-label-font-weight: 600;
  --fotonvrcom-semantic-label-font-style: normal;
  --fotonvrcom-semantic-heading-2-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-heading-2-font-size: 40px;
  --fotonvrcom-semantic-heading-2-line-height: normal;
  --fotonvrcom-semantic-heading-2-font-weight: 400;
  --fotonvrcom-semantic-heading-2-font-style: normal;
  --fotonvrcom-semantic-label-font-family: Inter-SemiBold, sans-serif;
  --fotonvrcom-semantic-label-font-size: 16.171875px;
  --fotonvrcom-semantic-label-line-height: normal;
  --fotonvrcom-semantic-label-font-weight: 600;
  --fotonvrcom-semantic-label-font-style: normal;
  --fotonvrcom-semantic-label-font-family: Inter-SemiBold, sans-serif;
  --fotonvrcom-semantic-label-font-size: 16.3125px;
  --fotonvrcom-semantic-label-line-height: normal;
  --fotonvrcom-semantic-label-font-weight: 600;
  --fotonvrcom-semantic-label-font-style: normal;
  --fotonvrcom-semantic-link-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-semantic-link-font-size: 18.28125px;
  --fotonvrcom-semantic-link-line-height: normal;
  --fotonvrcom-semantic-link-font-weight: 400;
  --fotonvrcom-semantic-link-font-style: normal;
  --fotonvrcom-semantic-link-font-family: SegoeUiSymbol-Regular, sans-serif;
  --fotonvrcom-semantic-link-font-size: 14px;
  --fotonvrcom-semantic-link-line-height: normal;
  --fotonvrcom-semantic-link-font-weight: 400;
  --fotonvrcom-semantic-link-font-style: normal;
  --fotonvrcom-semantic-link-lower-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-semantic-link-lower-font-size: 19.6875px;
  --fotonvrcom-semantic-link-lower-line-height: normal;
  --fotonvrcom-semantic-link-lower-font-weight: 400;
  --fotonvrcom-semantic-link-lower-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 13.453125px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 14px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 17.34375px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 17.65625px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 17.8125px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 17.96875px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 18.125px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 18.59375px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 19.0625px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 19.21875px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 2.890625px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 4.995920181274414px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 7.5px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 8.662610054016113px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 10.016380310058594px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 11.71875px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 12.578125px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 12.997469902038574px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 13.396324157714844px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 14px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 14.5px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 15.75px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 16px;
  --fotonvrcom-inter-regular-line-height: 24px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 17.315780639648438px;
  --fotonvrcom-inter-regular-line-height: 20px;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 18.125px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 18.59375px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 18.75px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --fotonvrcom-inter-regular-font-size: 19.21875px;
  --fotonvrcom-inter-regular-line-height: normal;
  --fotonvrcom-inter-regular-font-weight: 400;
  --fotonvrcom-inter-regular-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 12.578125px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 13.015625px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --fotonvrcom-inter-medium-font-size: 12.46875px;
  --fotonvrcom-inter-medium-line-height: normal;
  --fotonvrcom-inter-medium-font-weight: 500;
  --fotonvrcom-inter-medium-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 16px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 24px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 14px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 14px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 21px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 15.875px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 24px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 18px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 27px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 19.6875px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 19.84375px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 19.84375px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 30px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 20px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 30px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 20px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 23.8125px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 24px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 12.8984375px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 13.005000114440918px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 13.5625px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 21px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 12.796875px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 13px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 13.78125px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 21px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;
  --fotonvrcom-segoe-ui-symbol-regular-font-family: SegoeUiSymbol-Regular,
    sans-serif;
  --fotonvrcom-segoe-ui-symbol-regular-font-size: 11.484375px;
  --fotonvrcom-segoe-ui-symbol-regular-line-height: 21px;
  --fotonvrcom-segoe-ui-symbol-regular-font-weight: 400;
  --fotonvrcom-segoe-ui-symbol-regular-font-style: normal;

  /* Effects */
}
